<!doctype html>
<html lang="<%= i18n.language %>" ng-app="adminApp">
<head>
    <title>Admin App</title>
    <meta charset="UTF-8">
    <%- html.js(
        '/libs/angular/angular.min.js',
        /* Requisitos */
        '/libs/angular-touch/angular-touch.min.js',
        '/libs/angular-route/angular-route.min.js',
        '/libs/angular-resource/angular-resource.min.js',
        /* App */
        '/apps/admin/js/app.js'
    ) %>
</head>
<body>
    <!-- Launch the app -->
    <div id="app" ng-init="user=<%= JSON.stringify(user) %>">
        <div id="wrapper" ng-view></div>
    </div>
</body>
</html>