<section id="home">
    <div id="top-image">
        <div class="parallax" data-image="/img/top-image.jpg">
            <div id="slogan" class="content"><%- _('enjoy_your_home_anyway', { 'hls': '<span class="hl">', 'hle': '</span>' }) %></div>
        </div>
    </div>
    <div id="apartments-list">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2><%- _('our_recomendations') %></h2>
                </div>
            </div>
        </div>
    </div>
</section>