<% if (flash) { %>
    <div class="flash-messages">
    <% for (type in flash) { %>
        <div class="message message <%= type %>">
            <%- flash[type] %>
        </div>
    <% } %>
    </div>
<% } %>