<div id="gallery">
    <div class="close">
        <%- asset.icon('times', 'icons.svg') %>
    </div>
    <div class="left">
        <%- asset.icon('left-arrow', 'icons.svg') %>
    </div>
    <div class="right">
        <%- asset.icon('right-arrow', 'icons.svg') %>
    </div>
    <div class="main-image">
        <img />
    </div>
    <div class="images-list">
        <div class="images"></div>
    </div>
</div>