@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container, .container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px; }

[class^="col-"] {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

[class^="col-xs"] {
  float: left; }

[class^="col-xs-"] {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media screen and (max-width: 768px) {
  .hide-xs {
    display: none; }

  .show-xs {
    display: auto; } }
@media screen and (min-width: 768px) {
  .container {
    width: 750px; }

  [class^="col-sm-"] {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .hide-sm {
    display: none; }

  .show-sm {
    display: auto; } }
@media screen and (min-width: 992px) {
  .container {
    width: 970px; }

  [class^="col-md-"] {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .hide-md {
    display: none; }

  .show-md {
    display: auto; } }
@media screen and (min-width: 1170px) {
  .container {
    width: 1170px; }

  [class^="col-lg-"] {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .hide-lg {
    display: none; }

  .show-lg {
    display: auto; } }
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }
.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.animatedSprite {
  overflow: hidden;
  position: relative; }
  .animatedSprite img.sprite {
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0s;
    -webkit-transition: all 0s;
    -moz-transition: all 0s; }

div.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }
  div.parallax div.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2; }
  div.parallax div.content {
    display: none; }
  div.parallax div.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; }
    div.parallax div.background img {
      position: absolute; }
      div.parallax div.background img.ready {
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in; }

div.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px; }

svg.icon {
  display: inline-block;
  width: 24px;
  height: 24px; }
  svg.icon.xs {
    width: 16px;
    height: 16px; }
  svg.icon.sm {
    width: 20px;
    height: 20px; }
  svg.icon.lg {
    width: 32px;
    height: 32px; }
  svg.icon.white *.main-color {
    fill: white; }

html > body {
  min-height: 100%; }

body {
  font-family: "Roboto Slab", "Georgia", "Times New Roman", serif;
  font-size: 0.875em;
  font-weight: 300;
  color: #444;
  margin: 0px;
  padding: 0px; }
  body.error div.error {
    text-align: center;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 50%;
    margin-top: -100px; }
    body.error div.error a {
      padding: 10px;
      display: inline-block;
      background-color: #66aeff;
      text-decoration: none;
      color: white;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px; }
      body.error div.error a:hover, body.error div.error a.active {
        background-color: #0078ff; }
  body header {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    background-color: white;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
    body header div#logo {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 50px; }
      body header div#logo img {
        height: 100%; }
    body header div#languages {
      position: absolute;
      right: 20px;
      top: 10px;
      color: #000;
      font-size: 1em; }
      body header div#languages a {
        display: block;
        float: right;
        background-color: #EEE;
        color: #888;
        text-decoration: none;
        width: 30px;
        margin: 0 2px;
        text-align: center; }
        body header div#languages a.active {
          background-color: #444 !important;
          color: #fff;
          cursor: default; }
        body header div#languages a:hover {
          background-color: #66aeff;
          color: white; }
    body header nav#main-nav {
      position: absolute;
      right: 10px;
      top: 38px;
      height: 20px;
      line-height: 20px; }
      body header nav#main-nav ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none; }
        body header nav#main-nav ul li {
          display: inline; }
          body header nav#main-nav ul li a {
            display: block;
            height: 20px;
            line-height: 20px;
            text-decoration: none;
            margin: 0 10px;
            color: #555; }
            body header nav#main-nav ul li a:hover {
              text-decoration: underline; }

div#page {
  margin-top: 70px; }

footer {
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
  background-color: #f6f6f6;
  border-top: 1px solid #dddddd;
  padding: 30px 0;
  position: absolute;
  width: 100%;
  bottom: 0px; }
  footer h4 {
    margin: 0px; }

section#home div#top-image {
  height: 400px; }
  section#home div#top-image div#slogan {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    margin-top: -50px;
    height: 100px;
    width: 100%;
    line-height: 50px;
    z-index: 2;
    text-align: center;
    font-size: 2.71429em;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    font-weight: 600; }
    section#home div#top-image div#slogan span.hl {
      color: #66aeff; }
section#home div#home-body {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1); }
section#home div.apartments-list div.apartment {
  position: relative;
  margin-bottom: 20px; }
  section#home div.apartments-list div.apartment a.apartment-link {
    text-decoration: none; }
    section#home div.apartments-list div.apartment a.apartment-link:hover div.name, section#home div.apartments-list div.apartment a.apartment-link:active div.name {
      color: #0078ff; }
  section#home div.apartments-list div.apartment div.price {
    position: absolute;
    right: 15px;
    top: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: right;
    color: #000;
    padding: 2px 6px; }
    section#home div.apartments-list div.apartment div.price span.price {
      font-weight: 400;
      font-size: 1.2em;
      color: #0078ff; }
  section#home div.apartments-list div.apartment div.image img {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  section#home div.apartments-list div.apartment div.name {
    color: #66aeff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  section#home div.apartments-list div.apartment div.location {
    color: #AAA; }

section#apartment div.nav-tabs:after {
  display: block;
  content: " ";
  clear: both; }
section#apartment div.nav-tabs div.tab {
  width: 25%;
  float: left; }
  section#apartment div.nav-tabs div.tab:last-child a {
    border-right-width: 1px; }
  section#apartment div.nav-tabs div.tab.active a {
    color: #0078ff;
    background-color: #f6f6f6; }
  section#apartment div.nav-tabs div.tab a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #888;
    background-color: white;
    line-height: 36px;
    border: 1px solid #dddddd;
    border-right-width: 0px; }

/*# sourceMappingURL=website.css.map */
