@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
.animatedSprite {
  overflow: hidden;
  position: relative; }
  .animatedSprite img.sprite {
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0s;
    -webkit-transition: all 0s;
    -moz-transition: all 0s; }

div.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }
  div.parallax div.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2; }
  div.parallax div.content {
    display: none; }
  div.parallax div.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; }
    div.parallax div.background img {
      position: absolute; }
      div.parallax div.background img.ready {
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in; }

div.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px; }

svg.icon {
  display: inline-block;
  width: 24px;
  height: 24px; }
  svg.icon.xs {
    width: 16px;
    height: 16px; }
  svg.icon.sm {
    width: 20px;
    height: 20px; }
  svg.icon.lg {
    width: 32px;
    height: 32px; }
  svg.icon.white *.main-color {
    fill: white; }

div#gallery {
  position: fixed;
  z-index: 101;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  div#gallery div.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
    div#gallery div.close svg {
      width: 50px;
      height: 50px;
      fill: white; }
  div#gallery div.right, div#gallery div.left, div#gallery div.images-left, div#gallery div.images-right {
    position: absolute;
    top: 45%;
    margin-top: -25px;
    height: 50px;
    cursor: pointer;
    z-index: 102; }
    div#gallery div.right.left, div#gallery div.left.left, div#gallery div.images-left.left, div#gallery div.images-right.left {
      left: 2%; }
    div#gallery div.right.right, div#gallery div.left.right, div#gallery div.images-left.right, div#gallery div.images-right.right {
      right: 2%; }
    div#gallery div.right svg, div#gallery div.left svg, div#gallery div.images-left svg, div#gallery div.images-right svg {
      width: 50px;
      height: 50px;
      fill: white; }
  div#gallery div.main-image {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 10%;
    bottom: 20%;
    z-index: 101; }
    div#gallery div.main-image img {
      max-width: 80%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  div#gallery div.images-list {
    position: absolute;
    border-top: 2px solid black;
    top: 85%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.4); }
    div#gallery div.images-list div.images {
      position: relative;
      height: 100%;
      width: auto;
      white-space: nowrap; }
      div#gallery div.images-list div.images img {
        cursor: pointer;
        border: 2px solid black;
        height: 80%;
        margin: 10px; }
        div#gallery div.images-list div.images img.active {
          border: 2px solid white !important; }
        div#gallery div.images-list div.images img:hover {
          border: 2px solid #AAA; }

.ui-datepicker {
  width: 240px;
  position: absolute;
  display: none;
  padding: 10px;
  margin-top: 10px;
  z-index: 100;
  background-color: white;
  border: 1px solid #336399;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .ui-datepicker .ui-datepicker-header {
    margin: -10px -10px 0;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #336399;
    border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    padding: 0 10px; }
    .ui-datepicker .ui-datepicker-header::before {
      content: " ";
      display: block;
      position: absolute;
      top: -6px;
      left: 10px;
      width: 20px;
      height: 20px;
      background-color: #336399;
      z-index: -1;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
      float: left;
      cursor: pointer; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-prev span.ui-icon::before {
        color: white;
        content: "<";
        font-family: renting-icons;
        font-family: renting-icons; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
      float: right;
      cursor: pointer; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-next span.ui-icon::before {
        color: white;
        content: ">";
        font-family: renting-icons;
        font-family: renting-icons; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
      font-size: 15px;
      font-weight: 300;
      color: white;
      color: white; }
  .ui-datepicker table.ui-datepicker-calendar {
    width: 100%;
    margin: 10px 0 0; }
    .ui-datepicker table.ui-datepicker-calendar th, .ui-datepicker table.ui-datepicker-calendar td {
      text-align: center;
      height: 26px;
      line-height: 26px;
      width: 26px;
      width: 26px; }
    .ui-datepicker table.ui-datepicker-calendar td.ui-state-disabled span {
      color: #AAA;
      color: #AAA; }
    .ui-datepicker table.ui-datepicker-calendar td a {
      text-decoration: none;
      color: black;
      margin: 1px;
      display: block;
      background-color: #dddddd;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px; }
      .ui-datepicker table.ui-datepicker-calendar td a.ui-state-active {
        color: white;
        background-color: #0078ff;
        background-color: #0078ff; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body, input, textarea, button {
  font-family: "Roboto Slab", "Georgia", "Times New Roman", serif;
  font-weight: 300; }

div.wrapper {
  min-height: 100%;
  position: relative; }

body {
  color: #444; }
  body.error div.error {
    text-align: center;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 50%;
    margin-top: -100px; }
    body.error div.error a {
      padding: 10px;
      display: inline-block;
      background-color: #66aeff;
      text-decoration: none;
      color: white;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px; }
      body.error div.error a:hover, body.error div.error a.active {
        background-color: #0078ff; }
  body header {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    background-color: white;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
    body header div.flash-messages {
      position: absolute;
      top: 10px;
      left: 180px; }
    body header div#logo {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 50px; }
      body header div#logo img {
        height: 100%; }
    body header div#languages {
      position: absolute;
      right: 20px;
      top: 34px;
      color: #000;
      font-size: 1em; }
      body header div#languages a {
        display: block;
        float: right;
        background-color: #EEE;
        color: #888;
        text-decoration: none;
        width: 30px;
        margin: 0 2px;
        text-align: center; }
        body header div#languages a.active {
          background-color: #444 !important;
          color: #fff;
          cursor: default; }
        body header div#languages a:hover {
          background-color: #66aeff;
          color: white; }
    body header nav#main-nav {
      position: absolute;
      right: 10px;
      top: 38px;
      height: 20px;
      line-height: 20px; }
      body header nav#main-nav ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none; }
        body header nav#main-nav ul li {
          display: inline; }
          body header nav#main-nav ul li a {
            display: block;
            height: 20px;
            line-height: 20px;
            text-decoration: none;
            margin: 0 10px;
            color: #555; }
            body header nav#main-nav ul li a:hover {
              text-decoration: underline; }

div#top-image {
  position: relative; }
  div#top-image div.container {
    position: relative; }
  div#top-image a.go_back {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    display: block;
    padding: 8px 12px;
    background-color: #66aeff;
    text-decoration: none;
    color: white; }
    div#top-image a.go_back:hover {
      background-color: #0078ff; }

div#page {
  padding-top: 70px;
  padding-bottom: 120px; }

.clearfix {
  clear: both; }

footer {
  position: absolute;
  bottom: 0px;
  height: 120px;
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
  background-color: #f6f6f6;
  border-top: 1px solid #dddddd;
  padding: 30px 0;
  width: 100%; }
  footer h4 {
    margin: 0px; }

section#home div#top-image {
  height: 400px; }
  section#home div#top-image div#slogan {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    margin-top: -50px;
    height: 100px;
    width: 100%;
    line-height: 50px;
    z-index: 2;
    text-align: center;
    font-size: 2.71429em;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    font-weight: 600; }
    section#home div#top-image div#slogan span.hl {
      color: #66aeff; }
section#home div#home-body {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1); }
section#home div.apartments-list div.apartment {
  position: relative;
  margin-bottom: 20px; }
  section#home div.apartments-list div.apartment a.apartment-link {
    text-decoration: none; }
    section#home div.apartments-list div.apartment a.apartment-link:hover div.name, section#home div.apartments-list div.apartment a.apartment-link:active div.name {
      color: #0078ff; }
  section#home div.apartments-list div.apartment div.price {
    position: absolute;
    right: 20px;
    top: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: right;
    color: #000;
    padding: 2px 6px; }
    section#home div.apartments-list div.apartment div.price span.price {
      font-weight: 400;
      font-size: 1.2em;
      color: #0078ff; }
  section#home div.apartments-list div.apartment div.image img {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  section#home div.apartments-list div.apartment div.name {
    color: #66aeff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  section#home div.apartments-list div.apartment div.location {
    color: #AAA; }

section#apartment div#fixed-bar {
  height: 40px;
  position: fixed;
  display: none;
  top: 70px;
  left: 0px;
  right: 0px;
  z-index: 2;
  color: white;
  line-height: 40px;
  background-color: rgba(51, 99, 153, 0.95); }
  section#apartment div#fixed-bar div.apartment-name {
    float: left;
    font-weight: 400;
    font-size: 1.14286em; }
section#apartment div#top-image {
  height: 700px;
  cursor: pointer; }
section#apartment div#apartment-info {
  position: absolute;
  text-align: right;
  padding: 20px 0;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px; }
  section#apartment div#apartment-info div.item {
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px; }
    section#apartment div#apartment-info div.item div.icon svg {
      fill: #888;
      width: 40px;
      height: 40px; }
    section#apartment div#apartment-info div.item div.text {
      color: #444; }
section#apartment div#apartment-body {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  padding: 20px 0; }
  section#apartment div#apartment-body div.apartment-header {
    height: 120px;
    padding: 10px 0;
    margin-bottom: 20px;
    position: relative; }
    section#apartment div#apartment-body div.apartment-header div.user-profile-image {
      width: 100px;
      height: 100px; }
      section#apartment div#apartment-body div.apartment-header div.user-profile-image img {
        width: 100%;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px; }
    section#apartment div#apartment-body div.apartment-header div.main-info {
      position: absolute;
      top: 0px;
      left: 140px; }
      section#apartment div#apartment-body div.apartment-header div.main-info h2 {
        margin: 10px 0 4px; }
        section#apartment div#apartment-body div.apartment-header div.main-info h2 span.keys {
          display: inline-block;
          font-size: 0.8em;
          margin-left: 4px;
          color: #AAA; }
          section#apartment div#apartment-body div.apartment-header div.main-info h2 span.keys i {
            display: inline-block;
            margin: 0 -2px; }
            section#apartment div#apartment-body div.apartment-header div.main-info h2 span.keys i.active {
              color: #0078ff; }
      section#apartment div#apartment-body div.apartment-header div.main-info div.owner {
        margin: 0 0 4px;
        font-size: 1.28571em;
        color: #888;
        font-weight: 300; }
      section#apartment div#apartment-body div.apartment-header div.main-info div.location {
        font-weight: 300;
        color: #AAA; }
        section#apartment div#apartment-body div.apartment-header div.main-info div.location i {
          color: #888; }
section#apartment div.booking-sidebar {
  text-align: center; }
  section#apartment div.booking-sidebar div.booking-not-available {
    padding: 10px;
    border: 1px solid #0078ff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #d4e4f7;
    margin-bottom: 10px; }
  section#apartment div.booking-sidebar div.booking-avilables div.booking-info div.item {
    border-bottom: 1px solid #dddddd;
    height: 40px;
    line-height: 40px;
    padding: 0 10px; }
    section#apartment div.booking-sidebar div.booking-avilables div.booking-info div.item div.key {
      float: left;
      font-weight: 400;
      color: #0078ff; }
    section#apartment div.booking-sidebar div.booking-avilables div.booking-info div.item div.value {
      float: right; }
  section#apartment div.booking-sidebar div.booking-avilables div.booking-info div.icon svg {
    width: 64px;
    height: 64px;
    fill: #336399; }
  section#apartment div.booking-sidebar div.booking-avilables div.apartments {
    margin: 2px 0 0; }
    section#apartment div.booking-sidebar div.booking-avilables div.apartments div.apartment {
      padding: 20px 10px 10px;
      margin-bottom: 2px;
      background-color: #f6f6f6; }
      section#apartment div.booking-sidebar div.booking-avilables div.apartments div.apartment div.price {
        font-size: 2em;
        margin-top: 10px; }
      section#apartment div.booking-sidebar div.booking-avilables div.apartments div.apartment div.booking-buttons {
        margin-top: 10px; }
        section#apartment div.booking-sidebar div.booking-avilables div.apartments div.apartment div.booking-buttons a.make-booking, section#apartment div.booking-sidebar div.booking-avilables div.apartments div.apartment div.booking-buttons a.make-booking-on-demand {
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          display: inline-block;
          line-height: 30px;
          cursor: pointer;
          background-color: #66aeff;
          height: 30px;
          padding: 0 10px;
          color: white;
          font-weight: 300;
          text-decoration: none; }
          section#apartment div.booking-sidebar div.booking-avilables div.apartments div.apartment div.booking-buttons a.make-booking:hover, section#apartment div.booking-sidebar div.booking-avilables div.apartments div.apartment div.booking-buttons a.make-booking-on-demand:hover {
            background-color: #0078ff; }
  section#apartment div.booking-sidebar div.booking-change-dates {
    text-align: center;
    margin-top: 20px; }
    section#apartment div.booking-sidebar div.booking-change-dates a {
      display: inline-block;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      cursor: pointer;
      background-color: #dddddd;
      border: 1px solid #888;
      color: #888;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      font-size: 1.14286em;
      font-weight: 300;
      text-decoration: none; }
      section#apartment div.booking-sidebar div.booking-change-dates a:hover {
        background-color: #AAA;
        color: white; }
  section#apartment div.booking-sidebar div.booking-form div.form-group {
    margin-bottom: 10px; }
    section#apartment div.booking-sidebar div.booking-form div.form-group div.div-from, section#apartment div.booking-sidebar div.booking-form div.form-group div.div-to, section#apartment div.booking-sidebar div.booking-form div.form-group div.div-people {
      padding: 0 10px;
      float: left;
      width: 100%; }
    section#apartment div.booking-sidebar div.booking-form div.form-group div.icon {
      position: absolute;
      padding: 4px; }
      section#apartment div.booking-sidebar div.booking-form div.form-group div.icon svg {
        fill: #888; }
    section#apartment div.booking-sidebar div.booking-form div.form-group label {
      line-height: 30px;
      font-weight: 400;
      display: block; }
    section#apartment div.booking-sidebar div.booking-form div.form-group input {
      border: 1px solid #dddddd;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      line-height: 26px;
      height: 30px;
      width: 100%;
      padding: 2px 2px 2px 30px;
      font-size: 1.14286em; }
  section#apartment div.booking-sidebar button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #66aeff;
    height: 40px;
    width: 100%;
    border: 0px;
    color: white;
    font-size: 1.14286em;
    font-weight: 300; }
    section#apartment div.booking-sidebar button:hover {
      background-color: #0078ff; }
section#apartment div.description, section#apartment div.location {
  text-align: justify; }
  section#apartment div.description p, section#apartment div.location p {
    margin: 0 0 6px; }
section#apartment div.gallery {
  margin: 0 -2px 10px; }
  section#apartment div.gallery div.images div.image {
    padding: 2px 2px;
    line-height: 0px; }
    section#apartment div.gallery div.images div.image img {
      cursor: pointer;
      width: 100%; }
section#apartment div.services div.service {
  color: #888; }
  section#apartment div.services div.service svg {
    vertical-align: -16px;
    margin-right: 6px;
    height: 42px;
    width: 42px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    fill: black; }

section#bookings {
  padding-top: 100px;
  text-align: center; }
  section#bookings div.image {
    display: inline-block;
    overflow: hidden;
    border: 2px solid white;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px; }
    section#bookings div.image img {
      height: 200px;
      margin-left: -40px; }
  section#bookings div.name h2 {
    margin-bottom: 5px; }
  section#bookings div.info {
    margin-bottom: 60px;
    color: #888; }
    section#bookings div.info i {
      color: #444; }
  section#bookings div.booking-info {
    padding-top: 20px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd; }
    section#bookings div.booking-info div.left {
      text-align: right; }
    section#bookings div.booking-info div.right {
      text-align: left; }
    section#bookings div.booking-info div.item {
      margin-bottom: 10px; }
      section#bookings div.booking-info div.item div.title {
        color: #0078ff;
        font-size: 1.28571em; }
      section#bookings div.booking-info div.item div.value {
        color: #888;
        font-size: 1.14286em; }
  section#bookings div.cancel-conditions {
    border-bottom: 1px solid #dddddd;
    padding-top: 6px;
    padding-bottom: 20px; }
    section#bookings div.cancel-conditions ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px; }
      section#bookings div.cancel-conditions ul li {
        margin: 0px;
        padding: 0px;
        line-height: 30px; }
  section#bookings div.success-message {
    margin: 40px 0;
    font-size: 1.71429em; }
  section#bookings div.help-block {
    width: 600px;
    padding: 10px;
    border: 1px solid #66aeff;
    background-color: #cce4ff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto 20px; }
  section#bookings div.user {
    margin-bottom: 100px;
    padding-top: 6px; }
    section#bookings div.user div.login, section#bookings div.user div.register {
      background-color: #eaeaea;
      padding: 10px 10px 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
    section#bookings div.user .form div.form-group {
      margin-bottom: 10px; }
      section#bookings div.user .form div.form-group label {
        display: block;
        text-align: left;
        font-weight: 400;
        line-height: 30px; }
      section#bookings div.user .form div.form-group input, section#bookings div.user .form div.form-group select {
        border: 1px solid #dddddd;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        line-height: 26px;
        height: 30px;
        width: 100%;
        padding: 2px 6px;
        font-size: 1.14286em; }
        section#bookings div.user .form div.form-group input.error, section#bookings div.user .form div.form-group select.error {
          border-color: #b92c28; }
  section#bookings button[type=submit] {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #66aeff;
    height: 40px;
    width: 100%;
    border: 0px;
    color: white;
    font-size: 1.14286em;
    font-weight: 300; }
    section#bookings button[type=submit]:hover {
      background-color: #0078ff; }

/*# sourceMappingURL=website.css.map */
