@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container, .container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px; }

[class^="col-"] {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

[class^="col-xs"] {
  float: left; }

[class^="col-xs-"] {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media screen and (max-width: 768px) {
  .hide-xs {
    display: none; }

  .show-xs {
    display: auto; } }
@media screen and (min-width: 768px) {
  .container {
    width: 750px; }

  [class^="col-sm-"] {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .hide-sm {
    display: none; }

  .show-sm {
    display: auto; } }
@media screen and (min-width: 992px) {
  .container {
    width: 970px; }

  [class^="col-md-"] {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .hide-md {
    display: none; }

  .show-md {
    display: auto; } }
@media screen and (min-width: 1170px) {
  .container {
    width: 1170px; }

  [class^="col-lg-"] {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .hide-lg {
    display: none; }

  .show-lg {
    display: auto; } }
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }
.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

body {
  font-family: "Roboto Slab", "Georgia", "Times New Roman", serif;
  font-size: 0.875em;
  font-weight: 300;
  color: #444; }
  body header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    -webkit-box-shadow: 0 2px 2px #DDD;
    -moz-box-shadow: 0 2px 2px #DDD;
    box-shadow: 0 2px 2px #DDD; }
    body header div#logo {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 50px; }
      body header div#logo img {
        height: 100%; }
    body header div#languages {
      position: absolute;
      right: 20px;
      top: 10px;
      color: #000; }
      body header div#languages a {
        color: #888;
        text-decoration: none; }
        body header div#languages a:hover {
          color: black; }
    body header nav#main-nav {
      position: absolute;
      right: 10px;
      top: 35px;
      height: 20px;
      line-height: 20px; }
      body header nav#main-nav ul {
        padding: 0px;
        margin: 0px;
        list-style-type: none; }
        body header nav#main-nav ul li {
          display: inline; }
          body header nav#main-nav ul li a {
            display: block;
            height: 20px;
            line-height: 20px;
            text-decoration: none;
            margin: 0 10px;
            color: #555; }
            body header nav#main-nav ul li a:hover {
              text-decoration: underline; }

/*# sourceMappingURL=website.css.map */
