<a href class="pull-left" back-button><i class="fa fa-2x fa-fw fa-angle-left"></i></a>
<h1 class="page-header">{{apartment.name}}</h1>
<div ng-form="imagesForm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'admin.apartments.images' | translate}}</h3>
        </div>
        <div class="panel-body">
            <div class="images row" data-as-sortable ng-model="images">
                <div class="col-xs-12" ng-if="images.length < 1">{{'admin.apartments.no_images'|translate}}</div>
                <div class="image" ng-repeat="image in images" data-as-sortable-item>
                    <img ng-src="img/apartments/thumb/{{image.file}}" data-as-sortable-item-handle/>
                    <div class="buttons">
                        <button class="btn btn-danger btn-xs" ng-click="deleteImage($index)"><i class="fa fa-remove"></i> {{'admin.delete'|translate}}</button>
                    </div>
                    <div class="inputs">
                        <input placeholder="{{'languages.'+language | translate}}" ng-model="image.description[language]" ng-repeat="language in $available_languages" type="text" class="form-control input-sm"/>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <button class="btn btn-primary btn-upload" upload-button
                    url="/admin/apartments/upload"
                    param="image"
                    data="formData"
                    accept=".jpg,.jpeg,.png,.gif"
                    multiple=""
                    on-upload="uploadStart(files)"
                    on-complete="uploadComplete(response)">
                <i class="fa fa-upload fa-fw"></i> &nbsp; {{'admin.upload' |translate}}
            </button>
        </div>
    </div>
    <div class="pull-right">
        <a class="btn btn-danger" ng-click="cancel()"><i class="fa fa-times"></i> {{ 'admin.cancel' | translate }}</a>
        <a class="btn btn-primary" ng-click="saveImages()"><i class="fa fa-save"></i> {{ 'admin.save' | translate }}</a>
    </div>
</div>