<!doctype html>
<html lang="<%= typeof(lang) !== 'undefined' ? lang : 'es' %>">
<head>
    <meta charset="UTF-8">
    <title>Renting.js</title>
    <%- asset.css('website.css') %>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <%- html.anchor('http://cromoly.com', html.img('http://www.cromoly.com/img/logo.png'), {target: '_blank', title: 'Yep!'}) %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
            <div class="col-xs-1">
                <div class="col"></div>
            </div>
        </div>
    </div>
</body>
</html>